anyio
APScheduler>=3.11.2
blinker
certifi
charset-normalizer
click
Flask
fpdf2>=2.8.1
google-api-python-client
google-auth-oauthlib
groq
h11
httpcore
httpx
idna
itsdangerous
Jinja2
MarkupSafe
pillow
psycopg2-binary
python-dotenv
python-telegram-bot>=21.0
reportlab
SQLAlchemy>=2.0.0
typing_extensions
tzlocal
Werkzeug
gunicorn
